<table class="w-full text-sm text-left rounded-xl">
    <thead class="bg-gray-200 sticky top-0">
        <tr>
            <th class="p-2">Key</th>
            <th class="p-2">Summary</th>
            <th class="p-2">Assignee</th>
            <th class="p-2">Owner</th>
            <th class="p-2">Tags</th>
            <th class="p-2">Start Date</th>
            <th class="p-2">End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr class="border-b cursor-pointer hover:bg-gray-100">
            <td class="p-2">ABC-1</td>
            <td class="p-2">Example summary</td>
            <td class="p-2">User 1</td>
            <td class="p-2">User 2</td>
            <td class="p-2">
                <ul class="flex flex-wrap gap-1">
                    <li class="text-sm text-white bg-indigo-300 rounded flex group">
                        <span class="px-3">Example</span>
                        <span class="me-1 hidden cursor-pointer group-hover:flex items-center"><i class="fa-solid fa-xmark"></i></span>
                    </li>
                </ul>
            </td>
            <td class="p-2">01/01/2024</td>
            <td class="p-2">01/02/2024</td>
        </tr>
    </tbody>
</table>